*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
keystore.jks
keystore.properties
gradlew.bat
gradlew
run_instrumentation_tests.bat
settings.gradle
gradle/wrapper
google-services.json
app/build