*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/build.gradle
keystore.jks
gradlew.bat
gradlew
gradle.properties
run_instrumentation_tests.bat
settings.gradle
gradle/wrapper
google-services.json